:root {
	--main-color: #b7d2ff;
	--content-background-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-frame {
	max-width: 992px;
	margin: 0 auto;
}

.post {
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-frame{	
	padding: 10px;
}

.row {
	width: 100%;
	text-align: left;
}

.head-row {
	background-color: var(--main-color);
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.head-content {
	background-color: var(--content-background-color);
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.head-footer {
	background-color: var(--main-color);
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.title {
	float:left;
	text-align: left;
	width: 70%;
	font-size: 20px;
}

.title a {
	color: black;
	text-decoration: none;
}

.category-frame {
	float: right;
	text-align: center;
	width: 30%;
	font-size: 20px;
	margin-right: -11px;
	margin-top: -11px;
	margin-bottom: 10px;
}

.category {
	border: 1px solid black;
	border-bottom-left-radius: 10px;
}

.author{
	text-align: left;
}

.date{
	color: gray;
	font-size: 12px;
}

.vote-up, .vote-number, .vote-down {
	float: right;
	width: 33%;
}

.vote-frame {
	width: 70px;
	height: 15px;
}

.search-bar {
	width: 70%;
	height: 30px;
	border-radius: 15px;
	border: 1px solid black;
	font-size: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.categorie-frame {
	display: inline-block;
	min-width: 100px;
	height: 30px;
	line-height: 30px;
	border: 1px solid black;
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
}

.categorie-frame:hover {
	background-color: var(--main-color);
	color: var(--content-background-color);
}

.list-categories-frame {
	margin-top: 20px;
	margin-bottom: 20px;
}

.search-bar-frame {
	margin-top: 40px;
	margin-bottom: 20px;
}

.sort-menu-frame {
	width: 300px;
	display: inline-block;
}

.sort-menu-text{
	width: 100px;
	display: inline-block;
}

.sort-menu-dowpdown{
	width: 200px;
	display: inline-block;
}

.post-list-summary-result {
	width: 70%;
	text-align: left;
	display: inline-block;
}

.post-list-summary-filter {
	width: 30%;
	display: inline-block;
}