body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.post-frame{
	border: 1px solid black;
}

.author{
	display: block;
	float:left;
	width: 50%;
}

.date{
	display: block;
	float: right;;
	width: 50%;
}